<div class="entry">
  <h2>Entry 1</h2>
  <div class="entry_content">
    <p>
      Here is an example graph depicting the price development of the 'Abyssal Whip' item.
      This example uses the 'http://services.runescape.com/m=itemdb_oldschool/api' to fetch the data.
    </p>
    <div class="chart_container">
      <canvas id="demochart"></canvas>
    </div>
    <script>
      var context = document.getElementById("demochart").getContext("2d")
      var demochart = new Chart(context, {
        type: "line",
        data: {
          labels: {{ labels | safe }},
          datasets: [
            {
              label: "Abyssal whip",
              data: {{ values | safe }},
              borderColor: "rgb(75, 192, 192)",
              lineTension: 0.1,
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                parser: 'YYYY/MM/DD HH:mm:ss',
                displayFormats: {
                  day: 'YY MMM DD'
                },
              },
            }]
          }
        }
      }
      );
    </script>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
