<div class="entry">
  <h2>Entry 4</h2>
  <div class="entry_content">
    <p>
      
      This example should show the 5m timeseries data for the item
      that was selected from the items in Entry 3.

      <br><br>
      <b>Some Notes:</b>
      <br><br>

      For timeseries data. Use this: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/timeseries?id=10344&timestep=5m</em>

    </p>

    <div class="chart_container">
      <canvas id="entry4chart"></canvas>
    </div>

    <script>

      // Globals for chart.js.. :C
      chart = null;

      function addRowHandlers() {
        let e3table = document.getElementById("entry3table");
        let handler_deco = function(row) {
          return function() {

            let payload = `
            {
              "item_name": "${row.cells[0].innerText}",
              "item_id": "${row.cells[1].innerText}"
            }`;

            fetch("journal/graph_data", 
            {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: payload
            }).then(function(response) 
            {
              return response.json();
            }).then(function(jsonResponse)
            {
                var context = document.getElementById("entry4chart").getContext("2d")
                if (chart != null) {
                  chart.destroy();
                };
                chart = new Chart(context, 
                {
                  type: "line",
                  data: {
                    labels: jsonResponse.timestamp,
                    datasets: [
                      {
                        label: row.cells[0].innerText,
                        data: jsonResponse.price,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1,
                      }
                    ]
                  },
                  options: {
                    responsive: true,
                    scales: {
                      xAxes: [{
                        type: 'time',
                        time: {
                          parser: 'YYYY/MM/DD HH:mm:ss',
                          displayFormats: {
                            day: 'YY MMM DD'
                          },
                        },
                      }]
                    }
                  }
                });
            });
          }
        }
        for (let i = 1; i < e3table.rows.length; ++i) {
            e3table.rows[i].onclick = handler_deco(e3table.rows[i]);
        }
      }
      window.onload = addRowHandlers();

    </script>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
