<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETracked</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/getrecked.ico') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/entrytable.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js""></script>

</head>
<body>

  <div class="topnav">
    <h1 id="title">GE Tracked</h1>
  </div> 

  <div class="content">
    <p id="description">
      This website is still in PoC (Proof of Concept). The end goal of this website
      is to provide real-time graph data about item buy/sell values in the grand exchange.
    </p>
    {% include 'journal/entry1.html' %}
    {% include 'journal/entry2.html' %}
    {% include 'journal/entry3.html' %}
    {% include 'journal/entry4.html' %}
  </div>
</body>
</html>