<div class="entry">
  <h2>Entry 3</h2>
  <div class="entry_content">
    <p>
      Another example which shows a table of items available in the grand exchange.
      This table shows the current buy/sell price, the ROI%, the buy/sell quantity, 
      among other interesting pieces of information. 
      <br><br>
      The items in the table will be fetched from the OSRS Wiki API 
      'https://prices.runescape.wiki/api/v1/osrs/' by combining tha mapping query with 'other queries'
    
      <br><br>
      <b>Some Notes for implementation (3rd age amulet):</b>
      <br><br>
      The id-name mapping can be found from here: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/mapping</em><br>
      Then select the item in the list (10344)
      <br><br>
      Latest high-low prices can be found here: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/latest?id=10344</em>
      <br><br>
      Daily Trading volume here (updates once per hour): <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/volumes</em> <br>
      Then select the item in the list (10344)
      <br><br>
      For timeseries data. Use this: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/timeseries?id=10344&timestep=5m</em>


    </p>

    <p>Table:</p>
    <div>

      <!-- TODO ROI% -->

      <!--
        mapping1_table = [{
        'examine': mapping1['examine'], 
        'id': mapping1['id'], 
        'members': mapping1['members'], 
        'lowalch': mapping1['lowalch'], 
        'limit': mapping1['limit'], 
        'value': mapping1['value'], 
        'highalch': mapping1['highalch'], 
        'icon': mapping1['icon'], 
        'name': mapping1['name'],
        'high_price': mapping1_hl['high']
        'low_price': mapping1_hl['low']
        'volume':    mapping_vols[mapping1['id']]
    }]
      -->

      <table id=entry3table class="entrytable">
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Value</th>
          <th>High Price</th>
          <th>Low_Price</th>
          <th>ROI%</th>
          <th>Volume</th>
          <th>GE limit (4h)</th>
          <th>Members Only</th>
          <th>Low Alch.</th>
          <th>High Alch.</th>
        </tr>
        {% for item in entry3items %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.id}}</td>
          <td>{{item.value}}</td>
          <td>{{item.high_price}}</td>
          <td>{{item.low_price}}</td>
          <td>{{item.roi}}</td>
          <td>{{item.volume}}</td>
          <td>{{item.limit}}</td>
          <td>{{item.members}}</td>
          <td>{{item.lowalch}}</td>
          <td>{{item.highalch}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
