<div class="entry">
  <h2>Entry 3</h2>
  <div class="entry_content">
    <p>
      Another example which shows a table of items available in the grand exchange.
      This table shows the current buy/sell price, the ROI%, the buy/sell quantity, 
      among other interesting pieces of information. 
      <br><br>
      The items in the table will be fetched from the OSRS Wiki API 
      'https://prices.runescape.wiki/api/v1/osrs/' by combining tha mapping query with 'other queries'
    </p>

    <p>Table:</p>
    <div>
      <table id=entry2table>
        <caption>TODO!</caption>
      </table>
    </div>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
