<div class="entry">
  <h2>Entry 2</h2>
  <div class="entry_content">
    <p>
      This example shows a table of items available in the grand exchange. 
      The table shows some sample data fetched from the API.
      <br><br>
      The items in the table will be fetched from the OSRS Wiki API 
      'https://prices.runescape.wiki/api/v1/osrs/' since it turns out that this API
      is more complete and also has nearly real-time information about the prices.
      <br><br>
      The data in the table contains is everything fetched from the /mapping endpoint from the first 5 items.
    </p>
    <div>
      <table id=entry2table class="entrytable">
        <tr>
          <!--
          <th>Item</th>
          <th>Current Price</th>
          <th>Approx. Offer Price</th>
          <th>Approx. Sell Price</th>
          <th>Approx. Profit</th>
          <th>Roi%</th>
          <th>Buy Qty./Hr.</th>
          <th>Sell Qty/Hr.</th>
          <th>Buy/Sell Ratio</th>
          <th>Sell Ratio</th>
          -->
          <th>name</th>
          <th>id</th>
          <th>members</th>
          <th>lowalch</th>
          <th>limit</th>
          <th>value</th>
          <th>highalch</th>
          <tH>icon</tH>
        </tr>
        {% for item in items %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.id}}</td>
          <td>{{item.members}}</td>
          <td>{{item.low_alch}}</td>
          <td>{{item.limit}}</td>
          <td>{{item.value}}</td>
          <td>{{item.high_alch}}</td>
          <td>{{item.icon}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
