<div class="entry">
  <h2>Entry 3</h2>
  <div class="entry_content">
    <p>
      Another example which shows a table of items available in the grand exchange.
      This table shows the current buy/sell price, the ROI%, the buy/sell quantity, 
      among other interesting pieces of information. 
      <br><br>
      The items in the table will be fetched from the OSRS Wiki API 
      'https://prices.runescape.wiki/api/v1/osrs/' by combining tha mapping query with 'other queries'
    
      <br><br>
      <b>Some Notes for implementation (3rd age amulet):</b>
      <br><br>
      The id-name mapping can be found from here: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/mapping</em><br>
      Then select the item in the list (10344)
      <br><br>
      Latest high-low prices can be found here: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/latest?id=10344</em>
      <br><br>
      Daily Trading volume here (updates once per hour): <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/volumes</em> <br>
      Then select the item in the list (10344)
      <br><br>
      For timeseries data. Use this: <br>
      <em>https://prices.runescape.wiki/api/v1/osrs/timeseries?id=10344&timestep=5m</em>


    </p>

    <p>Table:</p>
    <div>
      <table id=entry2table>
        <caption>TODO!</caption>
      </table>
    </div>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
