<div class="entry">
  <h2>Entry 2</h2>
  <div class="entry_content">
    <p>
      <it>Under Works..</it>
      This example shows a table of items available in the grand exchange. 
      The table shows the current buy/sell price, the ROI%, the buy/sell quantity, 
      among other interesting pieces of information. 
      <br><br>
      The items in the table will be fetched from the OSRS Wiki api 
      'https://prices.runescape.wiki/api/v1/osrs/' since it turns out that this API
      is more complete and also has nearly real-time information about the prices.
    </p>

    <p>Table:</p>

    <div>
      <table>
        <caption>TODO!</caption>
      </table>
    </div>
  </div> <!-- Entry Content -->
</div > <!-- Entry -->
