<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETracked</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/getrecked.ico') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js""></script>
</head>
<body>

  <div id="side_bar">
    <div id="side_bar_top">
      <span id="burger" onclick="side_toggle()">&#9776;</span>
    </div>
    <div id="side_bar_content">
      <p>Search:</p>
      <input type="text" id="search">
    </div>
  </div>
  
  <div id="content">
  
    <h1 id="title">OSRS GE Tracker</h1>  
    <p id="description">
      This website is an SPA Web application providing real-time price data for 
      all tradeable items in OSRS grand exchange.
    </p>

    <div id="table_container">
      <table id=main_table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Value</th>
            <th>Sell Price</th>
            <th>Buy Price</th>
            <th>Approx. Profit</th>
            <th>ROI%</th>
            <th>Volume (Daily)</th>
            <th>GE limit (4h)</th>
            <th>Members Only</th>
            <th>Low Alch.</th>
            <th>High Alch.</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="chart_container">
      <canvas id="main_chart"></canvas>
    </div>

  </div>

  <script>

  var toggleopen = true;
  function side_toggle() {
    if (toggleopen) {
      document.getElementById("content").style.marginLeft = "250px";
      document.getElementById("side_bar").style.width = "250px";
      document.getElementById("side_bar_content").style.display = "block";
    } else {
      document.getElementById("content").style.marginLeft = "50px";
      document.getElementById("side_bar").style.width = "50px";
      document.getElementById("side_bar_content").style.display = "none";
    };
    toggleopen = !toggleopen;
  }
  </script>
  
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>